<ion-header>
    <ion-toolbar color="success">
        <ion-title>
            Lista contacto
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="move()" expand="block" fill="clear" shape="round">
        <ion-icon name="add"></ion-icon>
    </ion-button>
    <h1 style="text-align: center;">Mis contactos</h1>
    <!--==============================================================================================================================-->
    <app-comp></app-comp>
</ion-content>